# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Variables" data-toc-modified-id="Variables-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Variables</a></div><div class="lev1 toc-item"><a href="#Variables,-Strings,-Numbers-and-Operators" data-toc-modified-id="Variables,-Strings,-Numbers-and-Operators-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Variables, Strings, Numbers and Operators</a></div><div class="lev2 toc-item"><a href="#Example" data-toc-modified-id="Example-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Example</a></div><div class="lev2 toc-item"><a href="#NameError" data-toc-modified-id="NameError-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>NameError</a></div><div class="lev1 toc-item"><a href="#Overview-of-the-most-basic-data-types" data-toc-modified-id="Overview-of-the-most-basic-data-types-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Overview of the most basic data types</a></div><div class="lev1 toc-item"><a href="#Strings" data-toc-modified-id="Strings-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Strings</a></div><div class="lev2 toc-item"><a href="#Single-and-double-quotes" data-toc-modified-id="Single-and-double-quotes-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Single and double quotes</a></div><div class="lev2 toc-item"><a href="#Changing-case" data-toc-modified-id="Changing-case-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Changing case</a></div><div class="lev2 toc-item"><a href="#Combining-strings-(concatenation)" data-toc-modified-id="Combining-strings-(concatenation)-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Combining strings (concatenation)</a></div><div class="lev2 toc-item"><a href="#Whitespace" data-toc-modified-id="Whitespace-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Whitespace</a></div><div class="lev3 toc-item"><a href="#Stripping-whitespace" data-toc-modified-id="Stripping-whitespace-4.4.1"><span class="toc-item-num">4.4.1&nbsp;&nbsp;</span>Stripping whitespace</a></div><div class="lev2 toc-item"><a href="#More-string-functions" data-toc-modified-id="More-string-functions-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>More string functions</a></div><div class="lev1 toc-item"><a href="#Numbers" data-toc-modified-id="Numbers-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Numbers</a></div><div class="lev2 toc-item"><a href="#Integers" data-toc-modified-id="Integers-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Integers</a></div><div class="lev2 toc-item"><a href="#Floating-Point-numbers" data-toc-modified-id="Floating-Point-numbers-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Floating-Point numbers</a></div><div class="lev1 toc-item"><a href="#Jupyter's-'print',-operators-and-simple-function-calls" data-toc-modified-id="Jupyter's-'print',-operators-and-simple-function-calls-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Jupyter's 'print', operators and simple function calls</a></div><div class="lev1 toc-item"><a href="#Conversion-between-types" data-toc-modified-id="Conversion-between-types-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Conversion between types</a></div><div class="lev1 toc-item"><a href="#Comments" data-toc-modified-id="Comments-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Comments</a></div><div class="lev1 toc-item"><a href="#Trick:-alt!" data-toc-modified-id="Trick:-alt!-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Trick: alt!</a></div>

In [ ]:
?list

In [106]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Variables

A variable holds a value.

Variables, Strings, Numbers and Operators
===

In this section, you will learn to store information in variables. You will learn about two types of data: strings, which are sets of characters, and numerical data types.

Example
---

In [109]:
message = "Hello Python world!"
print(message)

'Hello Python world!'

A variable holds a value. You can change the value of a variable at any point ('reassign' the variable).

In [113]:
message = "Hello Python world!"
print(message)

message = "Python is my favorite language!"
print(message)

'Python is my favorite language!'

NameError
---
There is one common error when using variables, that you will almost certainly encounter at some point. Take a look at this code, and see if you can figure out why it causes an error.

In [115]:
message = "random mesage to somejuan"
print(message)

random mesage to somejuan

In [117]:
message = "random mesage to somejuan"
print('message')

message

[top](#)

# Overview of the most basic data types

| type | description |
|----|---|
| int | integer number |
| float  | floating point number |
| bool | True or False |
| string | text |

We can check the type of a variable with the "type" function.

In [118]:
print(type(5))
print(type(5.0))
print(type("Hello World"))
print(type('Hello World'))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

Strings
===
Strings are sets of characters. Strings are easier to understand by looking at some examples.

Single and double quotes
---
Strings are contained by either single or double quotes.

In [119]:
my_string = "This is a double-quoted string."
my_string = 'This is a single-quoted string.'

This lets us make strings that contain quotations.

In [120]:
quote = "Linus Torvalds once said, 'Any program is only as good as it is useful.'"

Changing case
---
You can easily change the case of a string, to present it the way you want it to look.

In [122]:
first_name = 'eric'
first_name = first_name.title()
print(first_name)

Eric

It is often good to store data in lower case, and then change the case as you want to for presentation. This catches some TYpos. It also makes sure that 'eric', 'Eric', and 'ERIC' are not considered three different people.

Some of the most common cases are lower, title, and upper.

In [123]:
first_name = 'eric'

print(first_name)
print(first_name.title())
print(first_name.upper())

first_name = 'Eric'
print(first_name.lower())

eric
Eric
ERIC
eric

You will see this syntax quite often, where a variable name is followed by a dot and then the name of an action, followed by a set of parentheses. The parentheses may be empty, or they may contain some values.

variable_name.action()

In this example, the word "action" is the name of a method. A method is something that can be done to a variable. The methods 'lower', 'title', and 'upper' are all functions that have been written into the Python language, which do something to strings. Later on, you will learn to write your own methods.

Combining strings (concatenation)
---
It is often very useful to be able to combine strings into a message or page element that we want to display. Again, this is easier to understand through an example.

In [124]:
first_name = 'ada'
last_name = 'lovelace'

full_name = first_name + ' H. ' + last_name

print(full_name.title())

Ada H. Lovelace

The plus sign combines two strings into one, which is called "concatenation". You can use as many plus signs as you want in composing messages. In fact, many web pages are written as giant strings which are put together through a long series of string concatenations.

In [ ]:
first_name = 'ada'
last_name = 'lovelace'
full_name = first_name + ' ' + last_name

In [126]:
message = full_name.title() + ' ' + "was considered the world's first computer programmer."

print(message)

Ada Lovelace was considered the world's first computer programmer.

If you don't know who Ada Lovelace is, you might want to go read what [Wikipedia](http://en.wikipedia.org/wiki/Ada_Lovelace) or the [Computer History Museum](http://www.computerhistory.org/babbage/adalovelace/) have to say about her. Her life and her work are also the inspiration for the [Ada Initiative](http://adainitiative.org/faq/about-ada-lovelace/), which supports women who are involved in technical fields.

Whitespace
---
The term "whitespace" refers to characters that the computer is aware of, but are invisible to readers. The most common whitespace characters are spaces, tabs, and newlines.

Spaces are easy to create, because you have been using them as long as you have been using computers. Tabs and newlines are represented by special character combinations.

The two-character combination "\t" makes a tab appear in a string. Tabs can be used anywhere you like in a string.

In [127]:
print("Hello everyone!")

Hello everyone!

In [128]:
print("\tHello everyone!")

	Hello everyone!

In [129]:
print("Hello \teveryone!")

Hello 	everyone!

The combination "\n" makes a newline appear in a string. You can use newlines anywhere you like in a string.

In [130]:
print("Hello everyone!")

Hello everyone!

In [131]:
print("\nHello everyone!")

Hello everyone!

In [132]:
print("Hello \neveryone!")

Hello
everyone!

In [133]:
print("\n\n\nHello everyone!")

Hello everyone!

### Stripping whitespace

In [134]:
name = ' horst '

print(name.lstrip())
print(name.rstrip())
print(name.strip())

horst
 horst
horst

It's hard to see exactly what is happening, so maybe the following will make it a little more clear:

In [135]:
name = ' horst '

print('-' + name.lstrip() + '-')
print('-' + name.rstrip() + '-')
print('-' + name.strip() + '-')

-horst -
- horst-
-horst-

## More string functions

In [136]:
s = "Python is my new favorite language"
len(s)

34

In [137]:
s.startswith('P')

True

In [138]:
s.startswith('p')

False

In [141]:
s.replace("my", "your")

'Python is your new favorite language'

In [142]:
s.replace("a", "4")

'Python is my new f4vorite l4ngu4ge'

In [143]:
print(s)

Python is my new favorite language

In [144]:
s = s.replace("a", "4")

In [145]:
print(s)

Python is my new f4vorite l4ngu4ge

In [146]:
s.replace("4", "a")
s.replace("o", "0") # really try to understand what is happening here!  1. replace gets called on 's', and replaces all 4s with a's, but does not reassign 's'. 
#2. Now 's' is called again, but the last replace is forgotten, so the end-result is a replace of o's with 0's, and the print-out of that. 's' is still the same.

'Pyth0n is my new f4v0rite l4ngu4ge'

In [148]:
s.replace("a", "4").replace("o", "0")

'Pyth0n is my new f4v0rite l4ngu4ge'

In [150]:
s=s.split(" ")

In [152]:
len(s)

6

We can split strings at defined characters

In [153]:
message = "I like cats and dogs, but I'd much rather own a dog."
words = message.split(' ') 
print(words)

['I', 'like', 'cats', 'and', 'dogs,', 'but', "I'd", 'much', 'rather', 'own', 'a', 'dog.']

In [154]:
animals = "dog, cat, tiger, mouse, liger, bear"

animals = animals.split(',')

print(animals)
#how do get rid of the white spaces now?

['dog', ' cat', ' tiger', ' mouse', ' liger', ' bear']

[top](#)

Numbers
===
Dealing with simple numerical data is fairly straightforward in Python, but there are a few things you should know about.

Some Arithmetic Operators:

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| //  | integer division |
| *  | multiplication |
| **  | to the power of |

Integers
---

In [155]:
print(3+2)

5

In [156]:
print(3-2)

1

In [157]:
print(3*2)

6

In [158]:
print(3/2)

1.5

In [159]:
print(3**2)

9

----------------------

You can use parentheses to modify the standard order of operations.

In [160]:
standard_order = 2+3*4
print(standard_order)

14

In [161]:
my_order = (2+3)*4
print(my_order)

20

In [162]:
print(my_order + standard_order)

34

In [163]:
print(my_order / my_order)

1.0

Floating-Point numbers
---
Floating-point numbers refer to any number with a decimal point. Most of the time, you can think of floating point numbers as decimals, and they will behave as you expect them to.

In [165]:
print(0.1+0.1)

0.2

However, sometimes you will get an answer with an unexpectly long decimal part:

In [166]:
print(0.1+0.2)

0.30000000000000004

In [168]:
print(3*0.1)

0.30000000000000004

----------------------

Be sure you know what number type you get out of different operations.

In [172]:
type(3/2)

float

In [173]:
type(3//2)

int

# Jupyter's 'print', operators and simple function calls

In [184]:
%whos

Variable         Type    Data/Info
----------------------------------
animals          list    n=6
first_name       str     ada
full_name        str     ada lovelace
last_name        str     lovelace
message          str     I like cats and dogs, but<...>'d much rather own a dog.
my_order         int     20
my_string        str     This is a single-quoted string.
name             str      horst
quote            str     Linus Torvalds once said,<...>as good as it is useful.'
s                list    n=6
standard_order   int     14
words            list    n=12
x                int     3
x_as_string      str     10

In [174]:
2 + 2

4

In [175]:
2 + 2
4 + 5
'random string I just thought of'

'random string I just thought of'

Using 'print' explictly allows you multiple print-outs per cell.

In [176]:
print(2 + 2)
print(4 + 5)
print('random string I just thought of')

4
9
random string I just thought of

----------------------

Python evaluates if a given statement is either True or False and return the corresponding boolean value. 

Some relational operators:

| Symbol | Task Performed |
|----|---|
| == | True, if both sides are equal |
| !=  | True, if both sides are not equal |
| < |True, if the left side is smaller |
| > | True, if the left side is greater |
| <=  | True, if the left side is smaller or equal to the right side |
| >=  | True, if the left side is greater or equal to the right side |

In [181]:
x = 3

In [182]:
x > 3

False

In [180]:
3 >= 3

True

In [183]:
standard_order > 5 #we defined 'standard_order above! Remember that all variables get stored once assigned until you shutdown your notebook or overwrite them.

True

In [185]:
standard_order != 66

True

In [188]:
6 == 'a random string'

False

In [191]:
6 == standord_order

NameError: name 'standord_order' is not defined

----------------------

There are several built-in function in Python that you can always call, see https://docs.python.org/3/library/functions.html for a full list

In [192]:
abs(-5)

5

In [193]:
max(3, 5)

5

In [195]:
min(x, 5)

3

----------------------

We can use other types in a similar way as numbers, quite intuitively:

In [196]:
'A' < 'B'

True

In [197]:
max("abc", "zyx")

'zyx'

In [198]:
max("abc", "8")

'abc'

In [200]:
max("1", 8) # mixing types doesn't work

TypeError: '>' not supported between instances of 'int' and 'str'

In [203]:
int('8fgsdfydf')

ValueError: invalid literal for int() with base 10: '8fgsdfydf'

In [201]:
max("1", str(8)) # so we have to transform (see below)

'8'

----------------------

And of course, different data types allow for different functions:

In [204]:
len("How long is this string?")

24

In [205]:
x = 10
len(x)

TypeError: object of type 'int' has no len()

# Conversion between types
You can convert between these different by casting:

In [206]:
x = 10

print(type(x))
print(x)
x_as_string = str(x)

print(type(x_as_string))
print(x_as_string)
print(len(x_as_string))

<class 'int'>
10
<class 'str'>
10
2

----------------------

A typical conversion for prints:

In [208]:
print("My variable x is " + x)#this if for contcatenating
#

TypeError: must be str, not int

[top](#)

Comments
===
 In Python, any line that starts with a pound (#) symbol is ignored by the Python interpreter.

# Trick: alt!
print("This line is not a comment, it is code.")

[top](#)

In [209]:
("This line is not a comment, it is code.") something  x

This line is not a comment, it is code.